/* CSS for videos from Youtube */
.video-container {
    position: relative;
      width: 100%;
      padding-bottom: 56.25%;  /* Sets 16:9 aspect ratio */
    overflow: hidden;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
     height: 100%;
}
/* CSS for videos from Vimeo */
.video-container-vimeo {
    padding-bottom: 56.25%; /* Sets 16:9 aspect ratio */
}
.video-container-vimeo iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}